
#mainBody {
  background-image: url("snowMountain.jpg");
}

#display {
  border: 3px dashed #444;
  height: 315px;
  width: 1150px;
  position: absolute;
  left: 15%;
  top: 5%;
  background-color: white;
}

#btnDisplay {
  position:absolute;
  width: 100%;
  top: 105%;
  left: 0%;
  padding-left: 45px;
}

#newButton {
  position: absolute;
  top: 18%;
  left: -12%;
  font-family: "Verdana";
  color: black;
  background-color: lightblue;
  border-radius: 10px;
  width: 100px;
  font-size: 16px;
}
#discardButton {
  position: absolute;
  top: 40%;
  left: -12%;
  font-family: "Verdana";
  color: black;
  background-color: lightblue;
  border-radius: 10px;
  width: 100px;
  font-size: 16px;
}

.discardBtn {
  background-color: white;
  font-family: "Verdana";
  width: 150px;
  margin-right: 75px;
  font-size: 16px;
  border-radius: 10px;
}

#name {
  position: absolute;
  top: 125%;
  left: 27%;
  font-family: "Verdana";
  color: white;
  font-size: 60px;
}

#description {
  position: absolute;
  top: 145%;
  left: 22%;
  font-family: "Verdana";
  color: 		#FF6347;
  font-size: 32px;
}

#result {
  position: absolute;
  top: 18%;
  left: 105%;
  font-family: "Verdana";
  color: white;
  font-size: 35px;
  width: 200px;
}
